ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 20px 0px;
}

.container {
  margin-top: 30px;
  width: 60%;
  margin-left: 100px;
}

.items-label {
  font-weight: bold;
  color: darkslategray;
}

.dimgray {
  color: dimgrey
}

.place-order-btn {
  width: 100%;
  margin-top: 10px;
}
