<div class="container">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="40" class="item1">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>

    <div fxFlex="50" fxLayout="column" fxLayoutGap="40px" class="details">
      <div fxLayout="column" fxLayoutGap="20px">
        <h1 class="product-title">{{product.name}}</h1>
        <h3 class="product-price">₹ {{product.price}}</h3>
        <div>
          <input fxInput type="number" min="0" value="1" class="quantity-input">
          <a mat-raised-button color="primary">Add to Cart</a>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="10px">
        <h3 class="product-details-title">Product Details</h3>
        <p>
          {{product.description}}
        </p>
      </div>
    </div>
  </div>
</div>
