<mat-card>
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutGap.xs="0">
    <div fxFlex="15" fxLayout="column">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-form-field class="quantity-input">
        <input #qtyInput matInput min="1" value="{{qty}}" type="number" placeholder="Quantity"
          (click)="onQtyChange(qtyInput.value)">
      </mat-form-field>
    </div>
    <div fxFlex="30" fxLayout="column">
      <div class="product-name">{{name}}</div>
      <div class="product-price">$ {{price/qty}}</div>
      <button mat-mini-fab color="warn" (click)="removeItem()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div fxFlex="15" fxLaout="column" class="single-product-total-price">
      $ {{price}}
    </div>

  </div>
</mat-card>
