<mat-toolbar class="navbar" color="primary">
  <span>BailBazzar</span>
  <a mat-button>Electronics</a>
  <a mat-button>Furniture</a>
  <a mat-button>Sports</a>
  <span class="spacer"></span>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <mat-form-field floatLabel="never">
      <input type="text" matInput name="search" placeholder="Search">
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <a mat-raised-button color="accent">Sign In</a>
    <a mat-button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>

</mat-toolbar>

<div>
  <mat-card class="product-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="center-text">
      <p class="product-name">Product Name</p>
      <p class="product-price">₹ 1000</p>
    </mat-card-content>
  </mat-card>
</div>
